.body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-container{
    display: flex;
    width: 96%;
    margin-top: 1%;
    justify-content: space-between;
}

#select-report{
    margin-left: 30px;
    background-color: rgb(222, 222, 222);
    border: 2px solid rgb(0, 53, 108);
    border-radius: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.report-title{
    display: flex;
    height: 100%;
    width: 17%;
    justify-content: space-between;
    align-items: center;
}

.report-title p{
    font-family: 'Franklin Gothic medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    color: rgb(0, 53, 108);
}

.options-div{
    width: 76%;
    height: 5.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.options-div div{
    display: flex;
    justify-content: space-between;
}

.options-div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.option-section{
    border: 2px solid rgb(132, 160, 190);
    border-radius: 15px;
    padding: 0 1.5%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
}

.option-section:first-of-type p{
    width: 80%;
    text-align: left;
    align-self: center;
}

.date-div{
    width: 45%;
}

.date-div p{
    margin: 0;
    display: flex;
    align-items: center;
}

.date-div input{
    background-color: rgb(222, 222, 222);
    height: 30px;
    border-radius: 15px;
    text-align: center;
    color: rgb(79, 79, 79);
    width: 30%;
}

.report-select{
    width: 230px;
    margin-left: 30px;
    background-color: rgb(222, 222, 222);
    border: 2px solid rgb(0, 53, 108);
    height: 55px;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.report-table{
    margin-top: 80px;
    background-color: red;
    width: 90%;
}

.report-table-header,
.report-table-element{
    display: flex;
    justify-content: space-around;
}

.report-table-header div,
.report-table-element div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21%;
    background-color: green;
    height: 30px;
    margin-bottom: 10px;
}

.report-grid{
    width: 90%;
    margin-top: 80px;
}

.type-task-grid{
    grid-column: 1;
}

.task-grid{
    grid-column: 2;
}

.time-grid{
    grid-column: 3;
}

.total-time-grid{
    grid-column: 4;
}

table{
    width: 90%;
    margin-top: 80px;
    border-spacing:10px
}

th{
    height: 30px;
}

tr:nth-of-type(1n){
    background-color: rgb(238, 238, 238);
}

tr:first-of-type{
    background-color: rgb(0, 53, 108);
    color: white;
}

.generarButton{
    cursor: pointer;
    height: 36px;
}
.generarButton:active{
    background-color: rgb(189, 189, 189);

}

.report-container{
    width: 85%;
    margin-top: 5%;
}

.fixed-data{
    position: fixed;
    width: 19%;
    
}

.fixed-data-section{
    
    margin-bottom: 2em;

}

.fixed-data-section-title,
.fixed-data-section-data{
    padding: 0.5em 0.8em;
    text-align: center;
    font-size: 1.9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.fixed-data-section-title{
    background-color: rgb(0, 53, 108);
    color: white;
}

.fixed-data-section-data{
    background-color: rgb(217, 217, 217);
}

.project-table{
    margin-top: 0;
    margin-left: 34%;
    width: 48%;
}

.project-table th{
    width: 50%;
    height: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8em;
    font-weight: 500;
}

.project-table tr:nth-of-type(1n+1){
    background-color: rgb(217, 217, 217);
}

.project-table tr:nth-of-type(2n+1){
    background-color: rgb(190, 224, 255)
}

.project-table-header th{
    background-color: rgb(0, 53, 108);
}

@media (max-width: 1430px){
    .report-title p{
        font-size: 30px;
    }

    .report-title img{
        width: 60px;
    }

    .option-section p{
        font-size: 16px;
        word-wrap: break-word;
    }

    
    .date-div input{
        height: 30px;
    }

    .report-select{
        width: 230px;
        margin-left: 30px;
        height: 35px;
        font-size: 15px;
    }
}