.body{
    display: flex;
    width: 96%;
    margin-top: 1%;
    justify-content: space-between;
}

.report-title{
    display: flex;
    height: 100%;
    width: 17%;
    justify-content: space-between;
    align-items: center;
}

.report-title p{
    font-family: 'Franklin Gothic medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    color: rgb(0, 53, 108);
}

.options-div{
    width: 76%;
    height: 5.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.options-div div{
    display: flex;
    justify-content: space-between;
}

.options-div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
}

.option-section{
    border: 2px solid rgb(132, 160, 190);
    border-radius: 15px;
    padding: 1.5%;
    margin-bottom: 1%;
}

.option-section:first-of-type p{
    width: 80%;
    text-align: left;
    align-self: center;
}

.date-div{
    width: 45%;
}

.date-div input{
    background-color: rgb(222, 222, 222);
    padding: 2%;
    border-radius: 15px;
    width: 60%;
    text-align: center;
    color: rgb(79, 79, 79);
    width: 30%;
    font-size: 20px;
}