#main{
    margin-top: 20px;
    margin-left: 22%;
    margin-bottom: 3%;
    width: 70%;
    
}

.table-element{
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
    margin-top: -1%;
}

.table-element img{
    width: 40%;
}

.table-element div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.table-element div:first-of-type{
    width: 230%;
}

.special-wide div:first-of-type{
    width: 100%;
}

.first-div{
    border-radius: 10px 0 0 10px;
    border-right: 5px white solid;
}

.mid-div{
    border-right: 5px white solid;
    border-left: 5px white solid;
}

.last-div{
    border-radius: 0 10px 10px 0;
    border-left: 5px white solid;
}

.validation-button{
    display: flex;
    flex-direction: column;
}

.yes, .no{
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

.no{
    border-right: 2px black solid;
    border-radius: 0 10px 10px 0;
}

.borrador .cell{
    background-color: rgb(208, 208, 208);
}

.pendiente .cell{
    background-color: rgb(217, 238, 100);
}

.aprobado .cell{
    background-color: rgb(180, 229, 172);
}

.desaprobado .cell{
    background-color: rgb(238, 100, 100);
}

.pendiente .validation-button{
    visibility: visible;
}

.borrador .validation-button,
.aprobado .validation-button,
.desaprobado .validation-button{
    visibility: hidden;
}

.header, .special-header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

.header div{
    padding: 1%;
}

.header div:first-of-type{
    width: 230%;
}

.special-header .validation-button,
.header .validation-button{
    visibility: hidden;
}

p{
    margin: 0;
    text-align: center;
}

.special-header div{
    padding: 1%;
}

.title-separator{
    text-align: left;
    margin-top: 2%;
    margin-bottom: -1%;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    color: rgb(0, 53, 108);
    font-weight: bolder;
}

.table-element .validation-button,
.table-element .validation-button{
    width: 65%;
    word-break: break-all;
}

.cell p{
    font-size: 21px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

