#main{
    margin-top: 20px;
    margin-left: 22%;
    margin-bottom: 3%;
    width: 70%;
    
}

.hours-section{
    display: flex;
}

.hours-section-container{
    border: 4px solid rgb(0, 53, 108);
    border-radius: 30px;
    display: flex;
    width: fit-content;
    margin-top: 2%;
}

.border-task-start{
    background-color: rgb(0, 53, 108);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
    width: 40px;
}

.border-task-start p{
    color: white;
    transform: rotate(270deg);
    text-align: center;
}

.border-task-end{
    width: 50px;
}

.task-element-container{
    display: flex;
    border-top: 2px solid rgb(0, 53, 108);
    border-bottom: 2px solid rgb(0, 53, 108);
    margin-left: 2%;
}

.task-element-container:first-of-type{
    border-top: none;
}
.task-element-container:last-of-type{
    border-bottom: none;
}

.task-element{
    width: 180px;
    height: 160px;
    padding: 0 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.task-name-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2em;
    margin-top: 5%;
}

.sub-task-element{
    margin-top: -10%;
}

.sub-task-empty-element p{
    text-align: center;
}

.status-dot{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.grey{
    background-color: rgb(164, 162, 159)
}

.yellow{
    background-color: rgb(227, 238, 100);
}

.green{
    background-color: rgb(47, 249, 79);
}

.orange{
    background-color: rgb(255, 153, 0);
}

.hours-amount{
    margin: 0.5em 0;
}

.buttons-work-div{
    display: flex;
    justify-content: space-between;

}

.edit-button,
.delete-button{
    border: 2px solid rgb(0, 53, 108);
    border-radius: 20px;
    width: 40%;
    display: flex;
    justify-content: center;
}

.edit-button p,
.delete-button p{
    margin: 0;
}


.vertical-divisor{
    background-color: rgb(0, 53, 108);
    width: 4px;
    height: 8em;
    align-self: center;
}

.border-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin-top: 2%;
    border-right: 4px solid rgb(0, 53, 108);
    border-top: 4px solid rgb(0, 53, 108);
    border-bottom: 4px solid rgb(0, 53, 108);
    border-radius: 0 35px 35px 0;
    margin-left: -25px;
}

.border-button img{
    margin-left: 70%;
}