.menuOrden {
  width: 49%;
  padding-bottom: 1.5%;
  padding-left: 1%;
  background-color: rgba(106, 176, 249, 1);
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 21vh;
  right: 0;
  z-index: 1;
}

.ordenItem {
  width: 90%;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgba(0, 53, 108, 1);
  font-family: sans-serif, "Manrope";
  font-size: 1.2vw;
  font-weight: 400;
  cursor: pointer;
}

.ordenItem:hover {
  font-weight: bolder;
}
