.soporteContainer {
  width: 100%;
  font-family: sans-serif, "Manrope";
  text-align: center;
  font-size: 4vw;
  color: rgba(0, 53, 108, 1);
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.tickets {
  width: 100%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addButton {
  position: fixed;
  bottom: 3%;
  right: 1.5%;
  width: 3vh;
  height: 3vh;
  border-radius: 50px;
  padding: 2%;
  background-color: rgba(0, 53, 108, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
